/.UrmlGenerator.java._trace
/UrmlGenerator.java
/.CapsuleGenerator.java._trace
/.NoInitialTransitionInStateMachineException.java._trace
/.TransitionGenerator.java._trace
/.CommonCapsuleGenerator.java._trace
/.ProtocolGenerator.java._trace
